@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme{
  --color-background: #122135;
  --color-gray: #4D6078;
}

body {
  background-color: var(--color-background);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}